:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-2 bg-gray-50 dark:bg-gray-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400 dark:bg-gray-700;
  }
  ::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-50 dark:bg-gray-900;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    @apply normal-case;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @apply normal-case;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    @apply normal-case;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    @apply normal-case;
  }
  ::placeholder { /* Recent browsers */
    @apply normal-case;
  }
}

